attrs==22.2.0
BAC0==22.9.21
bacpypes==0.18.6
colorama==0.4.6
exceptiongroup==1.1.0
flatdict==4.0.1
iniconfig==2.0.0
packaging==23.0
paho-mqtt==1.6.1
pluggy==1.0.0
pytz==2022.7.1
PyYAML==6.0.1
quickjs==1.19.2
tomli==2.0.1
